<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BlogRoff</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="<%= assetFingerprint('/css/style.css') %>">
</head>

<body>
  <header class="header">
    <div class="container">
      <a href="/" class="logo"></a>
      <div class="menu">
        <div class="nav-burger">
          <input type="checkbox" id="checkboxBurger" class="checkboxBurger visuallyHidden">
          <label for="checkboxBurger">
            <div class="hamburger hamburger3">
              <span class="bar bar1"></span>
              <span class="bar bar2"></span>
              <span class="bar bar3"></span>
              <span class="bar bar4"></span>
            </div>
          </label>
        </div>
        <div class="navbar">

        </div>
      </div>
    </div>
  </header>
